*{
    background-color: rgb(0, 255, 0);
    color: rgb(9, 12, 12);
    padding: 5%;
    border: 10px dashed black;
}
h1{
color: crimson;
}

h1:hover {
     color: rgb(255, 115, 0);
}

h2{
    color: deepskyblue;
}

h2:hover{
    color: rgb(37, 77, 209);
}

p{
    color: darkgreen;
}
h3{
    color: crimson;
}

h3:hover{
    color: rgb(255, 115, 0);
}