
h1{
color: crimson;
}

h1:hover {
     color: rgb(220, 133, 20);
}

h2{
    color: deepskyblue;
}

h2:hover{
    color: rgb(37, 77, 209);
}

p{
    color: darkgreen;
}
h3{
    color: darkgreen;
}